@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@200&family=Raleway&display=swap');
body{
    font-family: 'Heebo', sans-serif;
    /* font-family: 'Raleway', sans-serif; */


}
.link{
    text-decoration: none;
    color: black;
}
.ss{
    height: 400px;
    /* object-fit: contain; */
}